include config/*.json
include config/*.yaml
include roles/creative/*.txt
include README.md
include LICENSE

exclude domain_detector.py
recursive-exclude axp/roles/marketing *
recursive-exclude axp/roles/technical *
# ... (exclude other legacy domains)

global-exclude __pycache__
global-exclude *.py[cod]

